body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Lato", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.ui .menu {
  /* because borderless doesn't quite do the full thing */
  border: none;
  background-color: red;
}

.top-nav {
  margin-bottom: 0;
}

.top-nav .item {
  font-weight: 600;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.75);
}
